@font-face {
	font-family: "Montserrat";
	src: url('res/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
	font-family: "Montserrat";
	src: url('res/Montserrat/Montserrat-Thin.ttf');
  font-weight: 100;
}

@font-face {
	font-family: "Pacifico";
	src: url('res/Pacifico/Pacifico-Regular.ttf');
}

@font-face {
	font-family: "FontAwesome";
	src: url('res/FontAwesome.ttf');
}

body, html {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
	overflow: hidden;
	user-select: none;
}

#bg {
  background-image: url('res/bg2.jpg');
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
	transform: scale(1.1);
}

h1 {
  font-size: 10em;
  font-family: 'Pacifico';
  margin: 0;
}

h3 {
  font-weight: 100;
  font-size: 3em;
  margin: 0;
  margin-top: -50px;
}

i {
  font-family: 'FontAwesome';
}

#bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.info > i {
  font-size: 2em;
  margin-right: 10px;
}

.info > span {
  font-size: 1.2em;
	font-weight: 100;
}

.icon-button {
	font-size: 3em;
	margin: 20px;
	cursor: pointer;
	color: white;
	text-decoration: none;
}

#top-right {
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 10px;
}

#weather {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#top-left {
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 10px;
}

#weather i {
	font-size: 4em;
	margin: 30px;
}

#weather span {
	font-weight: 100;
	font-size: 2em;
}
#weather-text {
	display: flex;
	flex-direction: column;
}

#weather-desc {
	margin-top: -20px;
}

#empty-space {
	width: 100%;
	height: 100%;
	display: block;
}
